:root {

  --color-primary: #1566;
  --color-secondary: #ff9900;
  --color-tertiary: #0ff;

  --color-grey: #F2F2F2;
  --color-grey2: #fffaf2;
  --color-black: #000000;
  --color-black1566: rgb(15, 6, 6);
  --color-black1566-800: hsl(15, 6%, 6%);
  --color-red1566: hwb(15 6% 6%);
  --color-blue1566: #1566ff;

  --background: var(--color-black);
  --shape: var(--color-grey);

  --text-title: var(--color-grey);
  --text-body: var(--color-grey);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  @media (max-width: 1080px) {
    font-size: 93.75%;
  }

  @media (max-width: 720px) {
    font-size: 87.5%;
  }
}

body {
  -webkit-font-smoothing: antialiased;
  background: var(--background);
  color: var(--text-body);
  margin: 0;
}

body,
input,
textarea,
button,
p {
  font-family: 'Nova Slim', system-ui;
  font-weight: 400;
}

h1,
h2,
h3,
h4,
h5,
h6,
strong {
  font-family: 'Nova Square', sans-serif;
  font-weight: 600;
  color: var(--text-title);
}

button {
  cursor: pointer;
}

a {
  color: inherit;
  text-decoration: none;
}

a:visited {
  color: inherit;
}

[disabled] {
  cursor: not-allowed;
  opacity: 0.6;
}