.overview {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 2rem;
    height: 100vh;
}

.overview video {
    border-radius: 8px;
    max-width: 50%;
    margin: 3rem;
}

.overview_text {
    margin: 3rem;
    width: 40%;
    text-align: center;
}

.overview h2 {
    text-transform: uppercase;
    font-size: 3rem;
}

.overview p {
    line-height: 1.5;
    font-size: 2rem;
}