.opening {
    width: 100%;
    padding: 10rem 3rem;
}

.opening article {
    height: 100%;
}

.opening article div{
    max-width: 70%;
    margin: 0 auto;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.opening h3 {
    font-size: 3rem;
    text-align: center; 
    margin-bottom: 3rem;
}

.opening p {
    line-height: 1.7;
}

.opening p + p{
    margin-top: 1rem;
}

@media screen and (max-width: 1200px) {
    .opening article div{
        max-width: 80%;
    }

    .opening h3 {
        font-size: 2.5rem;
    }

    .opening p {
    }
}

@media screen and (max-width: 800px) {
    .opening {
        padding: 5rem 2rem;
    }

    .opening article div{
        max-width: 90%;
    }

    .opening h3 {
        font-size: 2rem;
    }

    .opening p {
        font-size: 1.1rem;
    }
}