body {
    background-color: var(--color-grey2);
}

.story {
    color: var(--color-black1566-800);
    margin-top: 100px;
}

.story article {
    max-width: 70%;
    margin: 0 auto;
    padding-top: 2rem;
}

.story h1 {
    font-size: 6rem;
    margin: 10rem 0;
    color: var(--color-black1566-800);
}

.story h2 {
    font-size: 3rem;
    margin: 2rem 0;
    color: var(--color-black1566-800);
    font-family: 'League Gothic', sans-serif;
}

.story p {
    font-size: 1.9rem;
    line-height: 1.5;
    margin: 1rem 0;
    text-align: justify;
    font-family: 'Lancelot', sans-serif;

}

.story nav {
    padding: 3rem;
    width: 100%;

    display: flex;
    justify-content: space-around;
}

.story nav img {
    width: 46px;
}


@media screen and (max-width: 1200px) {
    .story {
        padding: 1rem;
    }

    .story article {
        max-width: 90%;
    }

    .story p {
        line-height: 1.3;
        font-size: 1.7rem;
    }
}

@media screen and (max-width: 425px) {
    .story article {
        max-width: 95%;
    }
}