.footer {
    display: flex;
    align-items: center;
    justify-content: center;

    background: var(--color-light);
    padding: 1rem 2rem;
    height: 65px;
    width: 100%;
    font-size: 1rem;

    transition: all ease .5s;
}

.footer nav {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 1rem;
}

.footer nav img {
    width: 65px;
    padding: .1rem 0;
}

.footer nav a {
    color: var(--textColor-title);
    font-weight: 600;
    padding: .3rem .5rem;
    border-radius: 8px;
    background-color: var(--color-black);
    filter: opacity(.7);
    transition: color 0.2s;
}

.footer nav a+a {
    margin-left: .8rem;
}

.footer nav a:hover img {
    border-bottom: 1px solid var(--color-secondary);
}

.socialLinks {
    display: flex;
    justify-content: center;
    align-items: center;
}

.socialLinks img {
    height: 25px;
}

.socialLinks a {
    padding: .5rem;
    transition: transform 0.4s;
}

.socialLinks a+a {
    margin-left: 1.5rem;
}

.socialLinks a:hover {
    transform: translate(0, -5px);
}

.socialLinks .icon-x {
    height: 20px;

}

.socialLinks .icon-off {
    height: 30px;
}

@media screen and (max-width: 768px) {}