.header {
    display: flex;
    align-items: center;
    justify-content: center;

    background: var(--color-light);
    padding: 0 2rem 1rem;
    z-index: 1;
    height: 75px;
    width: 100%;
    font-size: 1rem;
    font-family: 'Nova Square', sans-serif;

    position: fixed;
    top: 0;
    left: 0;

    transition: all ease .5s;
}

.header.hideHeader {
    display: none;
}

.header nav {
    color: var(--textColor-title);
    font-weight: 600;
    padding: 1rem 1rem .5rem;
    border-radius: 8px;
    background-color: var(--color-black);
    filter: opacity(.7);
    margin: 0 1rem;

    display: flex;
    justify-content: center;
    align-items: center;
}

.header nav img {
    transition: transform 0.4s;
}

#vodum_icon {
    width: 80px;
}

#loop_icon {
    width: 60px;
}

#lament_icon {
    width: 95px;
}

.header nav a {
    padding: 0 .8rem;
}
.header nav a+a {
    margin-left: .8rem;
}

.header nav a:hover img {
    transform: translate(0, -5px);
}

@media screen and (max-width: 768px) {}