.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    
    background: var(--color-light);
    padding: 1rem 2rem;
    z-index: 1;
    height: 200px;
    width: 100%;
    font-size: 1rem;
    font-family: 'Nova Square', sans-serif;
}

.header.hideHeader {
    display: none;
}

.logo a img {
    max-width: 100%;
    width: 200px;
}