.features {
    padding: 2rem;
    text-align: justify;
    background: radial-gradient(circle at top, var(--color-primary) 0%, rgba(255, 255, 255, 0) 100%);
}

.features article {
    width: 70%;
    margin: 0 auto;
}

.features h2 {
    font-size: 5rem;
}

.features h3 {
    font-size: 1.7rem;
}

.features ol {
    font-size: 1.7rem;
    font-family: 'League Gothic', sans-serif;
}

.features p {
    font-family: 'Lancelot', serif;
    margin-top: 2rem;
    line-height: 1.5;
    font-size: 1.7rem;
}

@media screen and (max-width: 768px) {
    .features article {
        width: 90%;
    }

    .features h2 {
        font-size: 3rem;
    }

    .features h3 {
        font-size: 1.5rem;
    }

    .features p {
        font-size: 1.3rem;
    }
}

@media screen and (max-width: 768px) {
    .features h2 {
        font-size: 3rem;
    }

    .features h3 {
        font-size: 1.3rem;
    }
}