.introduction {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem;
}

.introduction article {
    width: 70%;
    margin: 0 auto;
    text-align: justify;
}

.introduction h2 {
    font-size: 5rem;
}

.introduction p {
    line-height: 1.5;
    font-size: 1.7rem;
}   

@media screen and (max-width: 768px) {
    .introduction h2 {
        font-size: 3rem;
    }

    .introduction article {
        width: 90%;
    }

    .introduction p {
        font-size: 1.3rem;
    }
}