.info {
  max-width: 1600px;
  margin: 0 auto;
  padding: 2rem;
}

.info p {
  line-height: 1.7;
  margin-bottom: 1rem;
  text-align: center;
}

.info img {
  border-radius: 18px;
}

.info article {
  border-radius: 18px;
}

.info_text1 {
  display: flex;
  justify-content: space-around;
}

.info_text1 figure {
  padding: 1rem;
}

.info_text1 img {
  max-width: 100%;
  width: 500px;
}

.info_text1 article {
  width: 50%;

  padding: 4rem;
  background: radial-gradient(circle at top, var(--color-primary) 0%, rgba(255, 255, 255, 0) 90%);
}

.info_text2 {
  padding: 1rem;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.info_text2 figure {
  margin: 0 auto;
}

.info_text2 figure img {
  max-height: 950px;
}

.info_text2 article {
  width: 50%;
  padding: 4rem;
  background: radial-gradient(circle at top, var(--color-primary) 0%, rgba(255, 255, 255, 0) 90%);
}

@media screen and (max-width: 1280px) {
  .info_text2 figure img {}

  .info p {
    font-size: 1.3rem;
  }
}

/* @media screen and (max-width: 1024px) {
  .info_text2 figure img {
  }

  .info h2 {
    font-size: 3rem;
  }
} */

@media screen and (max-width: 1024px) {
  .info h2 {
    font-size: 3rem;
  }

  .info article {
    height: auto;
    width: 100%;
    margin-left: 0;
  }

  .info_text1 {
    flex-direction: column;
  }

  .info_text1 figure {
    display: flex;
    justify-content: center;
    align-items: center;
    order: 2;
  }

  .info_text1 article {
    order: 1;
    padding: 3rem;
  }

  .info_text2 {
    padding: 0;
    flex-direction: column;
  }

  .info_text2 figure {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .info_text2 figure img {
    height: 80vh;
  }

  .info_text2 article {
    padding: 3rem;
  }
}

@media screen and (max-width: 425px) {
  .info p {
    font-size: 1rem;
  }

  .info_text1 article {
    padding: 2rem;
  }

  .info_text2 article {
    padding: 2rem;
  }

  .info_text2 figure img {
    height: auto;
    width: 100%;
  }
}