.story {
    background-color: var(--color-grey2);
    color: var(--color-black1566-800);
}

.story article {
    padding: 10rem 15rem;
}

.story h1 {
    font-size: 6rem;
    margin: 10rem 0;
    color: var(--color-black1566-800);
}

.story h2 {
    font-size: 3rem;
    margin: 2rem 0;
    color: var(--color-black1566-800);
    font-family: 'League Gothic', sans-serif;
}

.story p {
    font-size: 1.9rem;
    line-height: 1.5;
    margin: 1rem 0;
    text-align: justify;
    font-family: 'Lancelot', sans-serif;

}

.story nav {
    padding: 3rem;
    width: 100%;

    display: flex;
    justify-content: space-around;
}

.story nav img {
    width: 46px;
}


@media screen and (max-width: 1200px) {
    .story {
        padding: 5rem;
    }

    .story article {
        padding: 3rem 0;
    }
}

@media screen and (max-width: 425px) {
    .story article {
        padding: 5rem 2rem;
    }
}